body { 
	font-family: Verdana;Arial; font-size: 10px; color: #000000; margin-top:0px;
	background-image: url('images/vala-bck.jpg');
	}
.bodytextPrintForm
 { 
	font-family: Verdana;
	font-size: 10px;
	color: #000000; 
	margin-top:0px;
}

.textBoxPrintForm2
 { 
	font-family: Verdana;
	font-size: 14px;
	color: #000000; 
	margin-top:0px;
}


.bodytextPrintForm2
 { 
	font-family: Verdana;
	font-size: 14px;
	color: #000000; 
	margin-top:0px;
}

.bodytextPrintFormBold
 { 
	font-family: Verdana;
	font-size: 10px;
	color: #000000; 
	margin-top:0px;
	font-weight:bold;
}


.bodytextPrintFormBold2
 { 
	font-family: Verdana;
	font-size: 14px;
	color: #000000; 
	margin-top:0px;
	font-weight:bold;
}


.bodytextPrintFormBoldWhite
 { 
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF; 
	margin-top:0px;
	font-weight:bold;
}

.bodytextPrintFormBoldId
 { 
	font-family: Verdana;
	font-size: 14px;
	color:#800000; 
	margin-top:0px;
	font-weight:bold;
}

p { font-family: Verdana;Arial; font-size: 10px; color: #black }
td { font-family: Verdana;Arial; font-size: 10px; color: #000000 }
table { font-family: Verdana;Arial; font-size: 10px; color: #000000 }
fieldset { border:1px solid #999999;font-family: Verdana; font-size:11px; color:#B7E8FF;}
legend { font-family: Verdana; font-size:10 px; color:#666666; font-weight:bold;}
.select_list 
{ 
  font-family:Verdana;
  font-size:10px; 
  color:#8000000; 
  }
  
.outline-options-tbl { background:#DBDBDB;}

.form-title {
   font-size:10px;
   color: #black;
   font-family:Verdana;
   font-weight:bold;
}
.top-title
{
   font-size:14px;
   color:#CC0000;
   font-family:Verdana;
   font-weight:bold;
}

.row1 { background-color: #FFFFFF; height:30; }
.row2 { background-color: #F2F2E3; height:30 }
.row3 { background-color: #FFFFFF; height:20; }
.row4 { background-color: #F2F2E3; height:20 }
.row5 { background-color: #FFFFCC; height:45; }
.row6 { background-color: #F2F2E3; height:45 }

.txt_input { font-family: Verdana; font-size: 10px; color: #000000; height: 20; border: 1px solid #C0C0C0;overflow: auto; } 
.sales { font-family: Verdana; font-size: 10px; color: #000000; height: 20; border: 1px solid #C0C0C0;overflow: auto; } 
.dim { background: #e2e2e2; font-family: Verdana; font-size: 10px; color: #000000; height: 20; border: 1px solid #C0C0C0; overflow: auto; } 
.dim1 { background: #e2e2e2; font-family: Verdana; font-size: 14px; color: #000000; height: 20; border: 1px solid #C0C0C0;  } 
.dim2 { color: #781351; background: #fee3ad; border: 1px solid #781351} 
.srch_input { font-family: Verdana; font-size: 10px; color: #000000; height: 17; border: 1px solid #C0C0C0;} 
.outline { border: 1px solid #C0C0C0;}
.button { font-family: Verdana; font-size: 10px; color: #000000; height: 18; border: 1px solid #7F9DB9; background: #e2e2e2;} 
.tbl { border: 1px solid #e2e2e2; } 
.table-text { 
	font-family: Verdana; 
	font-size: 10px; 
	color: #222E92; 
	margin-top:0px; 
	margin-right:5px;
}
.editlink { 
	font-family: Verdana; 
	font-size: 9px; 
	color:#330099; 
}
.body-text { 
	font-family: Verdana; 
	font-size: 10px; 
	color: #000000; 
}
.table-title {
   font-size:10px;
   color: #222E92;
   font-family:Verdana;
   font-weight:bold;
}
.redText {
   font-size:11px;
   color:#FF0000;
   font-family:Verdana;
   font-weight:bold;
}
.smallText {
   font-size:9px;
   color:#000000;
   font-family:Verdana;
}
.dhtmlgoodies_question
{	
	color:#FFFFFF;
	font-size:0.9em;
	background-color:#CCCCCC;
	width:771px;
	margin-bottom:2px;
	margin-top:2px;
	padding-left:2px;
	background-repeat:no-repeat;
	background-position:top right;	
	height:20px;
	overflow:hidden;
	cursor:pointer;
}
.dhtmlgoodies_answer
{	
	border:1px solid #FF0000;
	background-color:#EEEEEE;
	width:771px;
	visibility:hidden;
	height:0px;
	overflow:hidden;
	position:relative;
}
.dhtmlgoodies_answer_content
{
	padding:1px;
	font-size:0.9em;	
	position:relative;
}